#female_questions {
    display: none;
}

h2 {
  padding-top: 40px;
}

button {
  padding: 10px;
}

input {
  border-radius: 5px;
}


.toast {
  position: fixed;
  top: 10px;
  right: 10px;
}


body {
  margin: 10px !important;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
  }
  th, td {
    text-align: left; 
    border: 1px solid black;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
    
  }


#SevereThinness, #ModerateThinness, #MildThinness, #normal, #Overweight, #ObeseClass1, #ObeseClass2, #ObeseClass3 {
  display: inline-block;
  width: 10px;
  padding-right: 2px;
  height: 10px;
}

p {
  display: inline-block;
}

#ModerateThinness {
  background:#ffaa5cb8;
}

#SevereThinness {
  background: #f49797a3;
}

#MildThinness {
  background: orange;
}
#ObeseClass2 {
  background: red;
}

#ObeseClass1 {
  background: yellow;
}

#ObeseClass3 {
  background: #fc9393;
}

#normal {
  background: #35ff31;
}
#foo {
  display: block;
}

#Overweight {
  background:green;
}

table {
  font-size: small;
}

table p::before {
  content: "• ";
}
#resultDiv {
  float: right;
  white-space:pre-wrap;
  text-align: center;
}

#bodyDiv {
  padding:20px;
  background: black !important;
  color: white !important;
  margin-inline: auto !important;
}
/*
canvas {
  float: right;
}*/

#BMRTable {
  height: 450px;
  width: 83vw;
  display: block;
  max-width: 500px;
  padding-bottom: 30px;
}

input[type='search'] {
  width: 40vw;
  max-width: 300px;
}

select {
  max-width: 40vw !important;
}