#female_questions {
    display: none;
}

#results {
    display: none;
}

#getPDFBtn {
    display: none;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
  }
  th, td {
    text-align: left; 
    border: 1px solid black;
    padding: 8px;
  }
  tr:nth-child(even) {background-color: #f2f2f2;}

li {
    list-style: none;
}

table {
  font-size: small;
}

table p::before {
  content: "• ";
}