@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

#female_questions {
  display: none;
}
.varient {
  width: 30px;
  margin: 5px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

textarea {
  width: 52vw;
  height: 200px;
}

.selected {
  color: black !important;
  background-color: white !important;
  text-decoration: none !important;
}

#my-list {
  padding: 10px;
  border-radius: 7px;
}
#my-list li {
  list-style: none;
  display: flex;
  text-decoration: line-through;
  cursor: move;
  text-decoration-thickness: 2px;
  align-items: center;
  color: white;
  border-radius: 5px;
  padding: 10px 13px;
  margin-bottom: 11px;
  border: 1px solid #ccc;
  justify-content: space-between;
}

#detailedForm {
  display: none;
}

h2 {
  padding-top: 40px;
}

button {
  padding: 10px;
}

input {
  border-radius: 5px;
}

.toast {
  position: fixed;
  top: 10px;
  right: 10px;
}

body {
  margin: 10px !important;
  color: white;
  background-color: black;
  font-family: "Outfit", sans-serif;
}

table {
  border-collapse: collapse;
  border: 1px solid black;
}
th,
td {
  text-align: left;
  border: 1px solid white;
  padding: 8px;
}

#SevereThinness,
#ModerateThinness,
#MildThinness,
#normal,
#Overweight,
#ObeseClass1,
#ObeseClass2,
#ObeseClass3 {
  display: inline-block;
  width: 10px;
  padding-right: 2px;
  height: 10px;
}

p {
  display: inline-block;
}

#ModerateThinness {
  background: #ffaa5cb8;
}

#SevereThinness {
  background: #f49797a3;
}

#MildThinness {
  background: orange;
}
#ObeseClass2 {
  background: red;
}

#ObeseClass1 {
  background: yellow;
}

#ObeseClass3 {
  background: #fc9393;
}

#normal {
  background: #35ff31;
}
#foo {
  display: block;
}

#Overweight {
  background: green;
}

#foo {
  position: relative;
  right: 10px;
}

#resultDiv ul {
  width: 200px;
  position: relative;
  left: 50px;
}
#resultDiv #resultBMI {
  position: relative;
  left: 60px;
  width: 200px;
}

#youAre {
  position: relative;
  width: 50px;
  left: 100px;
}

#resultDiv li {
  padding: 0;
  margin: 0;
  height: 20px;
}

table {
  font-size: small;
}

table p::before {
  content: "• ";
}
#resultDiv {
  float: right;
}

#bodyDiv {
  border-radius: 20px;
  padding: 5vw;
  background: black;
  color: white;
  margin-inline: auto !important;
}

#BMRTable {
  width: 83vw;
  display: block;
  max-width: 500px;
}
h2 {
  text-decoration: underline;
  text-decoration-color: cyan;
  text-decoration-thickness: 1px;
}

#dietTime p {
  margin: 0 !important;
  padding: 0 !important;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

input[type="search"] {
  width: 40vw;
  max-width: 300px;
}

select {
  max-width: 40vw !important;
}
